.card-style{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    background-color: white ;
    width:1550px;
    height: 58px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #9D9D9D29
}
.card-prop{
    width: 40%;
    padding: 30px;
    margin-left: 60px;
}
.card-icon{
    width: 40%;
    display: flex;

    
}
.card-status{
    /* display: flex; */
    width: 50%;
    /* justify-content:center  ; */
    /* padding-right: 55px; */
}
.status{
    border-radius: 90px;
    padding: 5px;
    width: 120px;
    text-align: center;
}
.Active{
    background-color: #D3F4BE;
    padding-left:30px;
    padding-right: 30px;
}
.Probation{
    background-color: #F5ECB8;
    padding-left: 17px;
    padding-right: 17px;
}
.Inactive{
    background-color: #FFBFBF;
    padding-left: 25px;
    padding-right: 25px;
}
.card-icon{
    width: 50%;
    /* margin-left: 50px; */
}
.del-icon{
    color:#FA4242;
    font-size: 1.3rem;
    margin-right: 2px;
    margin-left: 90px;
}
.edit-icon{
    color:#10AAC0;
    font-size:1.8rem;
    margin-left: 2px;
    /* height: 200px; */
    /* width: 200px; */
    /* width: 50px; */
    /* padding-left: 6px; */
}