.heading{
    display: flex;

}
.edit-icon{
    display: flex;
    background-color: #eaf9f9;
    margin-right: 25px;
    width: 8%;
    height: 50%;
    border-radius: 80px;
}
.edit-icon-span{
    background-color: #03AEEE;
    width: 35%;
    display: flex;
    border-radius: 100px;
    color: #fff;
    align-items: center ;
    justify-content: center;
}
.edit-content{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    font-size: 1.1rem;
    color: #000;
    opacity: 0.6;
}
.emp-details{
    display: flex;
    /* background-color: #fff; */
    flex-wrap: wrap;
    padding: 20px;
    margin: 8px;
    margin-top: 25px;
    width: 80%;
    /* height: 180px; */
    box-shadow: rgba(149,157,165,0.2) 0px 8px 30px;
}
.emp-data{
    display: flex;
    flex-direction: column;
    width:16%;
    padding: 25px;
}
.emp-data-db{
    color: #434552;
}
.emp-item{
    padding-bottom: 20px;
    color: #8b8d9b;
}
hr{
    width: 100%;
    margin: 10px;
    opacity: 0.2;
    height: 2%;
}
.emp-status{
    border-radius: 90px;
    background-color: red;
    width: 70%;
    text-align: center;
    padding: 6px;
    color: #183077;
}
.active{
    background-color: #D3F4BE;
    padding-left:30px;
    padding-right: 30px;
}
.probation{
    background-color: #F5ECB8;
    padding-left: 17px;
    padding-right: 17px;
}
.inactive{
    background-color: #FFBFBF;
    padding-left: 25px;
    padding-right: 25px;
}